*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  color: #fff;
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
}
.logo{
  font-weight: 800;
  font-size: 30px;
}
.menu{
  list-style: none;
  display: flex;
}
.menu a{
  color: #fff;
  text-decoration: none;
  margin: 0 1em;
}

/* Footer */

footer{
  background-color: black;
  color: #fff;
  font-size: 12px;
}

.inner-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
padding: 2em 3em;
}

.footer-text{
  width: 40%;
}

.contact{
  margin-right: 3em;
}

.copyright{
  background-color: #1a1a1a;
  text-align: center;
  padding: 1em;
}

.icons li{
  list-style: none;
}

/* Container */
.container{
  width: 96%;
  margin: 1em auto;
}

.grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 0.5em;
}

/* Pager */
.Pagination{
cursor: pointer;
display: inline-block;
margin: 1em 0;
margin-left: 25em;
}

.Pagination a{
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.Pagination a.active{
  background-color: #4caf50;
  color: white;
}

.Pagination a:hover:not(.active){
  background-color: #ddd;
}